html, body, #map, .panel {
  height: 100%;
}

div.container {
  width: 100%;
  height: calc(100% - 50px);
  padding: 0;
  position: absolute;
  bottom: 0;
}

.panel {
  padding: 0;
}

.list-group {
  overflow: auto;
  max-height: calc(100% - 55px);
}

#fsImg {
  height: 100px;
  vertical-align: middle;
}

@media (max-width: 768px) {

  #map {
    position: absolute;
  }

  .active {
    z-index: 1;
  }
}
